<footer class="footer">
  <h3>Pipes de Angular</h3>
  
  <p class="pipe-item">
    <strong>1. Fecha:</strong> {{ hoy | date:'longDate' }}
  </p>
  
  <p class="pipe-item">
    <strong>2. Costo del curso:</strong> {{ costoCurso | currency:'USD' }}
  </p>

  <p class="pipe-item">
    <strong>3. Progreso:</strong> {{ progreso() | percent }}
  </p>

  <p class="pipe-item">
    <strong>4. Nombre:</strong> {{ estudiante | titlecase }}
  </p>

  <p class="pipe-item">
  <strong>5. Versión:</strong> {{ version }}
</p>
</footer>